<html>
<head>
    <script>
        var REQ_KEY = "{{ .request_key }}"
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript" src="https://okestro-aidevops.github.io/npia-orchestrator-client/js/test.js"></script>
</body>
</html>